<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjnu.system.mapper.RoomInfoMapper">

    <select id="countByTable" resultType="java.lang.Integer">
        select count(A.id) from room_info A where A.status = 1
    </select>

    <select id="listByTable" resultType="com.tjnu.system.entity.RoomInfo">
        select <include refid="RoomInfoVo"/>
        from room_info A
        where A.status = 1
        limit #{entity.offset}, #{entity.limit}
    </select>

    <sql id="RoomInfoVo">
        A.id,
        A.room_name,
        A.room_type,
        A.room_number,
        A.room_price
    </sql>

</mapper>
